.model {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #c7c7c7;
  margin: 10px;
  font-size: 1.3em;
}

.model-img {
  width: 15vw;
}

@media (max-width: 1150px) {
  .model {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #c7c7c7;
    margin: 10px;
    font-size: 1em;
    line-height: 1.3;
  }
  

  .model-img {
    width: 15vw;
  }
  
}
