#models-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.model-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-text-div {
  margin: 20px;
}

.md-title-text {
  font-size: 2.2em;
  text-align: justify;
}

.md-p-text {
  font-size: 1.2em;
  text-align: justify;
}